@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text-primary: 240, 248, 255;
    --bg-primary: 0, 0, 139;
    --bg-secondary: 0, 0, 139;
    --bg-tertiary: 0, 0, 139;
  }

  .dark {
    --text-primary: 0, 0, 139;
    --bg-primary: 17, 24, 39;
    --bg-secondary: 31, 41, 55;
    --bg-tertiary: 55, 65, 81;
  }
}
